App_User/web/WEB-INF/wsdl/localhost_8084/App_Apuestas/apuestaws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.edu.uniminuto.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.edu.uniminuto.co/" name="apuestaws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.edu.uniminuto.co/" schemaLocation="http://localhost:8084/App_Apuestas/apuestaws?xsd=1" />
</xsd:schema>
</types>
<message name="verApuestas">
<part name="parameters" element="tns:verApuestas" />
</message>
<message name="verApuestasResponse">
<part name="parameters" element="tns:verApuestasResponse" />
</message>
<message name="verApuestasPago">
<part name="parameters" element="tns:verApuestasPago" />
</message>
<message name="verApuestasPagoResponse">
<part name="parameters" element="tns:verApuestasPagoResponse" />
</message>
<message name="crearApuesta">
<part name="parameters" element="tns:crearApuesta" />
</message>
<message name="crearApuestaResponse">
<part name="parameters" element="tns:crearApuestaResponse" />
</message>
<message name="verApuestasUsuario">
<part name="parameters" element="tns:verApuestasUsuario" />
</message>
<message name="verApuestasUsuarioResponse">
<part name="parameters" element="tns:verApuestasUsuarioResponse" />
</message>
<message name="consultaApuesta">
<part name="parameters" element="tns:consultaApuesta" />
</message>
<message name="consultaApuestaResponse">
<part name="parameters" element="tns:consultaApuestaResponse" />
</message>
<message name="actualizarApuesta">
<part name="parameters" element="tns:actualizarApuesta" />
</message>
<message name="actualizarApuestaResponse">
<part name="parameters" element="tns:actualizarApuestaResponse" />
</message>
<portType name="apuestaws">
<operation name="verApuestas">
<input wsam:Action="http://ws.edu.uniminuto.co/apuestaws/verApuestasRequest" message="tns:verApuestas" />
<output wsam:Action="http://ws.edu.uniminuto.co/apuestaws/verApuestasResponse" message="tns:verApuestasResponse" />
</operation>
<operation name="verApuestasPago">
<input wsam:Action="http://ws.edu.uniminuto.co/apuestaws/verApuestasPagoRequest" message="tns:verApuestasPago" />
<output wsam:Action="http://ws.edu.uniminuto.co/apuestaws/verApuestasPagoResponse" message="tns:verApuestasPagoResponse" />
</operation>
<operation name="crearApuesta">
<input wsam:Action="http://ws.edu.uniminuto.co/apuestaws/crearApuestaRequest" message="tns:crearApuesta" />
<output wsam:Action="http://ws.edu.uniminuto.co/apuestaws/crearApuestaResponse" message="tns:crearApuestaResponse" />
</operation>
<operation name="verApuestasUsuario">
<input wsam:Action="http://ws.edu.uniminuto.co/apuestaws/verApuestasUsuarioRequest" message="tns:verApuestasUsuario" />
<output wsam:Action="http://ws.edu.uniminuto.co/apuestaws/verApuestasUsuarioResponse" message="tns:verApuestasUsuarioResponse" />
</operation>
<operation name="consultaApuesta">
<input wsam:Action="http://ws.edu.uniminuto.co/apuestaws/consultaApuestaRequest" message="tns:consultaApuesta" />
<output wsam:Action="http://ws.edu.uniminuto.co/apuestaws/consultaApuestaResponse" message="tns:consultaApuestaResponse" />
</operation>
<operation name="actualizarApuesta">
<input wsam:Action="http://ws.edu.uniminuto.co/apuestaws/actualizarApuestaRequest" message="tns:actualizarApuesta" />
<output wsam:Action="http://ws.edu.uniminuto.co/apuestaws/actualizarApuestaResponse" message="tns:actualizarApuestaResponse" />
</operation>
</portType>
<binding name="apuestawsPortBinding" type="tns:apuestaws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="verApuestas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verApuestasPago">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="crearApuesta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verApuestasUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaApuesta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarApuesta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="apuestaws">
<port name="apuestawsPort" binding="tns:apuestawsPortBinding">
<soap:address location="http://localhost:8084/App_Apuestas/apuestaws" />
</port>
</service>
</definitions>