App_User/web/WEB-INF/wsdl/localhost_8084/App_Apuestas/deportews.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.edu.uniminuto.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.edu.uniminuto.co/" name="deportews">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.edu.uniminuto.co/" schemaLocation="http://localhost:8084/App_Apuestas/deportews?xsd=1" />
</xsd:schema>
</types>
<message name="crearDeporte">
<part name="parameters" element="tns:crearDeporte" />
</message>
<message name="verDeportes">
<part name="parameters" element="tns:verDeportes" />
</message>
<message name="verDeportesResponse">
<part name="parameters" element="tns:verDeportesResponse" />
</message>
<message name="consultaDeporte">
<part name="parameters" element="tns:consultaDeporte" />
</message>
<message name="consultaDeporteResponse">
<part name="parameters" element="tns:consultaDeporteResponse" />
</message>
<portType name="deportews">
<operation name="crearDeporte">
<input wsam:Action="http://ws.edu.uniminuto.co/deportews/crearDeporte" message="tns:crearDeporte" />
</operation>
<operation name="verDeportes">
<input wsam:Action="http://ws.edu.uniminuto.co/deportews/verDeportesRequest" message="tns:verDeportes" />
<output wsam:Action="http://ws.edu.uniminuto.co/deportews/verDeportesResponse" message="tns:verDeportesResponse" />
</operation>
<operation name="consultaDeporte">
<input wsam:Action="http://ws.edu.uniminuto.co/deportews/consultaDeporteRequest" message="tns:consultaDeporte" />
<output wsam:Action="http://ws.edu.uniminuto.co/deportews/consultaDeporteResponse" message="tns:consultaDeporteResponse" />
</operation>
</portType>
<binding name="deportewsPortBinding" type="tns:deportews">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="crearDeporte">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="verDeportes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaDeporte">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="deportews">
<port name="deportewsPort" binding="tns:deportewsPortBinding">
<soap:address location="http://localhost:8084/App_Apuestas/deportews" />
</port>
</service>
</definitions>