App_Admin/web/WEB-INF/wsdl/localhost_8084/App_Apuestas/equipows.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.edu.uniminuto.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.edu.uniminuto.co/" name="equipows">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.edu.uniminuto.co/" schemaLocation="http://localhost:8084/App_Apuestas/equipows?xsd=1" />
</xsd:schema>
</types>
<message name="crearEquipo">
<part name="parameters" element="tns:crearEquipo" />
</message>
<message name="verEquipos">
<part name="parameters" element="tns:verEquipos" />
</message>
<message name="verEquiposResponse">
<part name="parameters" element="tns:verEquiposResponse" />
</message>
<message name="consultarEquipo">
<part name="parameters" element="tns:consultarEquipo" />
</message>
<message name="consultarEquipoResponse">
<part name="parameters" element="tns:consultarEquipoResponse" />
</message>
<portType name="equipows">
<operation name="crearEquipo">
<input wsam:Action="http://ws.edu.uniminuto.co/equipows/crearEquipo" message="tns:crearEquipo" />
</operation>
<operation name="verEquipos">
<input wsam:Action="http://ws.edu.uniminuto.co/equipows/verEquiposRequest" message="tns:verEquipos" />
<output wsam:Action="http://ws.edu.uniminuto.co/equipows/verEquiposResponse" message="tns:verEquiposResponse" />
</operation>
<operation name="consultarEquipo">
<input wsam:Action="http://ws.edu.uniminuto.co/equipows/consultarEquipoRequest" message="tns:consultarEquipo" />
<output wsam:Action="http://ws.edu.uniminuto.co/equipows/consultarEquipoResponse" message="tns:consultarEquipoResponse" />
</operation>
</portType>
<binding name="equipowsPortBinding" type="tns:equipows">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="crearEquipo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="verEquipos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarEquipo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="equipows">
<port name="equipowsPort" binding="tns:equipowsPortBinding">
<soap:address location="http://localhost:8084/App_Apuestas/equipows" />
</port>
</service>
</definitions>