App_Admin/web/WEB-INF/wsdl/localhost_8084/App_Apuestas/partidows.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.edu.uniminuto.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.edu.uniminuto.co/" name="partidows">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.edu.uniminuto.co/" schemaLocation="http://localhost:8084/App_Apuestas/partidows?xsd=1" />
</xsd:schema>
</types>
<message name="actualizarResultado">
<part name="parameters" element="tns:actualizarResultado" />
</message>
<message name="actualizarResultadoResponse">
<part name="parameters" element="tns:actualizarResultadoResponse" />
</message>
<message name="crearPartido">
<part name="parameters" element="tns:crearPartido" />
</message>
<message name="crearPartidoResponse">
<part name="parameters" element="tns:crearPartidoResponse" />
</message>
<message name="consultaPartido">
<part name="parameters" element="tns:consultaPartido" />
</message>
<message name="consultaPartidoResponse">
<part name="parameters" element="tns:consultaPartidoResponse" />
</message>
<message name="verPartidosActualizar">
<part name="parameters" element="tns:verPartidosActualizar" />
</message>
<message name="verPartidosActualizarResponse">
<part name="parameters" element="tns:verPartidosActualizarResponse" />
</message>
<message name="verPartidosApostar">
<part name="parameters" element="tns:verPartidosApostar" />
</message>
<message name="verPartidosApostarResponse">
<part name="parameters" element="tns:verPartidosApostarResponse" />
</message>
<message name="verPartidos">
<part name="parameters" element="tns:verPartidos" />
</message>
<message name="verPartidosResponse">
<part name="parameters" element="tns:verPartidosResponse" />
</message>
<portType name="partidows">
<operation name="actualizarResultado">
<input wsam:Action="http://ws.edu.uniminuto.co/partidows/actualizarResultadoRequest" message="tns:actualizarResultado" />
<output wsam:Action="http://ws.edu.uniminuto.co/partidows/actualizarResultadoResponse" message="tns:actualizarResultadoResponse" />
</operation>
<operation name="crearPartido">
<input wsam:Action="http://ws.edu.uniminuto.co/partidows/crearPartidoRequest" message="tns:crearPartido" />
<output wsam:Action="http://ws.edu.uniminuto.co/partidows/crearPartidoResponse" message="tns:crearPartidoResponse" />
</operation>
<operation name="consultaPartido">
<input wsam:Action="http://ws.edu.uniminuto.co/partidows/consultaPartidoRequest" message="tns:consultaPartido" />
<output wsam:Action="http://ws.edu.uniminuto.co/partidows/consultaPartidoResponse" message="tns:consultaPartidoResponse" />
</operation>
<operation name="verPartidosActualizar">
<input wsam:Action="http://ws.edu.uniminuto.co/partidows/verPartidosActualizarRequest" message="tns:verPartidosActualizar" />
<output wsam:Action="http://ws.edu.uniminuto.co/partidows/verPartidosActualizarResponse" message="tns:verPartidosActualizarResponse" />
</operation>
<operation name="verPartidosApostar">
<input wsam:Action="http://ws.edu.uniminuto.co/partidows/verPartidosApostarRequest" message="tns:verPartidosApostar" />
<output wsam:Action="http://ws.edu.uniminuto.co/partidows/verPartidosApostarResponse" message="tns:verPartidosApostarResponse" />
</operation>
<operation name="verPartidos">
<input wsam:Action="http://ws.edu.uniminuto.co/partidows/verPartidosRequest" message="tns:verPartidos" />
<output wsam:Action="http://ws.edu.uniminuto.co/partidows/verPartidosResponse" message="tns:verPartidosResponse" />
</operation>
</portType>
<binding name="partidowsPortBinding" type="tns:partidows">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="actualizarResultado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="crearPartido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaPartido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verPartidosActualizar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verPartidosApostar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verPartidos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="partidows">
<port name="partidowsPort" binding="tns:partidowsPortBinding">
<soap:address location="http://localhost:8084/App_Apuestas/partidows" />
</port>
</service>
</definitions>