App_Admin/web/WEB-INF/wsdl/localhost_8084/App_Apuestas/usuariows.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.edu.uniminuto.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.edu.uniminuto.co/" name="usuariows">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.edu.uniminuto.co/" schemaLocation="http://localhost:8084/App_Apuestas/usuariows?xsd=1" />
</xsd:schema>
</types>
<message name="consultaUsuario">
<part name="parameters" element="tns:consultaUsuario" />
</message>
<message name="consultaUsuarioResponse">
<part name="parameters" element="tns:consultaUsuarioResponse" />
</message>
<message name="consultaSaldo">
<part name="parameters" element="tns:consultaSaldo" />
</message>
<message name="consultaSaldoResponse">
<part name="parameters" element="tns:consultaSaldoResponse" />
</message>
<message name="sumarValor">
<part name="parameters" element="tns:sumarValor" />
</message>
<message name="registro">
<part name="parameters" element="tns:registro" />
</message>
<message name="registroResponse">
<part name="parameters" element="tns:registroResponse" />
</message>
<message name="restarValor">
<part name="parameters" element="tns:restarValor" />
</message>
<portType name="usuariows">
<operation name="consultaUsuario">
<input wsam:Action="http://ws.edu.uniminuto.co/usuariows/consultaUsuarioRequest" message="tns:consultaUsuario" />
<output wsam:Action="http://ws.edu.uniminuto.co/usuariows/consultaUsuarioResponse" message="tns:consultaUsuarioResponse" />
</operation>
<operation name="consultaSaldo">
<input wsam:Action="http://ws.edu.uniminuto.co/usuariows/consultaSaldoRequest" message="tns:consultaSaldo" />
<output wsam:Action="http://ws.edu.uniminuto.co/usuariows/consultaSaldoResponse" message="tns:consultaSaldoResponse" />
</operation>
<operation name="sumarValor">
<input wsam:Action="http://ws.edu.uniminuto.co/usuariows/sumarValor" message="tns:sumarValor" />
</operation>
<operation name="registro">
<input wsam:Action="http://ws.edu.uniminuto.co/usuariows/registroRequest" message="tns:registro" />
<output wsam:Action="http://ws.edu.uniminuto.co/usuariows/registroResponse" message="tns:registroResponse" />
</operation>
<operation name="restarValor">
<input wsam:Action="http://ws.edu.uniminuto.co/usuariows/restarValor" message="tns:restarValor" />
</operation>
</portType>
<binding name="usuariowsPortBinding" type="tns:usuariows">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="consultaUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaSaldo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sumarValor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="registro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="restarValor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
</binding>
<service name="usuariows">
<port name="usuariowsPort" binding="tns:usuariowsPortBinding">
<soap:address location="http://localhost:8084/App_Apuestas/usuariows" />
</port>
</service>
</definitions>